{
  "openapi": "3.0.0",
  "info": {
    "title": "Ident",
    "description": "Ident is a microservice providing identity, authentication and authorization services for users, applications and organizations.",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://ident.provide.services/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/applications": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Create application",
        "operationId": "Createapplication",
        "parameters": [
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateapplicationRequest"
              },
              "example": {
                "name": "testapplication"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List applications",
        "operationId": "Listapplications",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/applications/{application_id}/users": {
      "post": {
        "tags": [
          "Applications"
        ],
        "summary": "Associate user to application",
        "operationId": "Associateusertoapplication",
        "parameters": [
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssociateusertoapplicationRequest"
              },
              "example": {
                "user_id": "{{user_id}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "List application users",
        "operationId": "Listapplicationusers",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/applications/{application_id}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "summary": "Get application details",
        "operationId": "Getapplicationdetails",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Applications"
        ],
        "summary": "Update application",
        "operationId": "Updateapplication",
        "parameters": [
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          },
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateapplicationRequest"
              },
              "example": {
                "name": "asdfasdfadsfadsf",
                "description": "{{application_description}}",
                "type": "{{application_type}}",
                "hidden": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Applications"
        ],
        "summary": "Delete application",
        "operationId": "Deleteapplication",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "application_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "operationId": "Listorganizations",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Create organization",
        "operationId": "Createorganization",
        "parameters": [
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateorganizationRequest"
              },
              "example": {
                "name": "test_org",
                "description": "organization for testing"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization details",
        "operationId": "Getorganizationdetails",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Organizations"
        ],
        "summary": "Update organization details",
        "operationId": "Updateorganizationdetails",
        "parameters": [
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          },
          {
            "name": "organization_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateorganizationdetailsRequest"
              },
              "example": {
                "name": "updated org name",
                "description": "updated description"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "List tokens",
        "operationId": "Listtokens",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Authorize long-term token",
        "description": "Returns an authorized JSON formatted JWT with an `offline-access` scoped long-term `access_token` that serves as authentication for `User`, `Organization`, and `Application` related requests. \n\nTo authorize an `Application` token, replace `organization_id` in this example with `application_id`\n\nTo authorize a `User` token, replace `organization_id` with `user_id`",
        "operationId": "Authorizelong-termtoken",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Authorizelong-termtokenRequest"
              },
              "example": {
                "scope": "offline_access",
                "organization_id": "{{organization_id}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update user",
        "operationId": "Updateuser",
        "parameters": [
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateuserRequest"
              },
              "example": {
                "email": "user@provide.local",
                "first_name": "John",
                "last_name": "Doe",
                "password": "12345"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/tokens/f2202ba1-e2af-4505-9b1a-53e1ce8de904": {
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Revoke token",
        "operationId": "Revoketoken",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/authenticate": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Authentication",
        "description": "Sends email & password to Ident. Token is retrieved and stored in environment variables as jwt_token",
        "operationId": "Authentication",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationRequest"
              },
              "example": {
                "email": "{{email}}",
                "password": "{{password}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List users Copy",
        "operationId": "ListusersCopy",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create user",
        "description": "To create a virtual user, ensure no `Password` is provided.",
        "operationId": "Createuser",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateuserRequest"
              },
              "example": {
                "email": "email@realemailthatexists.com",
                "first_name": "John",
                "last_name": "Doe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user detail",
        "operationId": "Getuserdetail",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "name",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "{{name}}"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/tokens/{user_id}": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "operationId": "Deleteuser",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "CreateapplicationRequest": {
        "title": "CreateapplicationRequest",
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "example": {
          "name": "testapplication"
        }
      },
      "AssociateusertoapplicationRequest": {
        "title": "AssociateusertoapplicationRequest",
        "required": [
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          }
        },
        "example": {
          "user_id": "{{user_id}}"
        }
      },
      "UpdateapplicationRequest": {
        "title": "UpdateapplicationRequest",
        "required": [
          "name",
          "description",
          "type",
          "hidden"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "hidden": {
            "type": "boolean"
          }
        },
        "example": {
          "name": "asdfasdfadsfadsf",
          "description": "{{application_description}}",
          "type": "{{application_type}}",
          "hidden": true
        }
      },
      "CreateorganizationRequest": {
        "title": "CreateorganizationRequest",
        "required": [
          "name",
          "description"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "example": {
          "name": "test_org",
          "description": "organization for testing"
        }
      },
      "UpdateorganizationdetailsRequest": {
        "title": "UpdateorganizationdetailsRequest",
        "required": [
          "name",
          "description"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "example": {
          "name": "updated org name",
          "description": "updated description"
        }
      },
      "Authorizelong-termtokenRequest": {
        "title": "Authorizelong-termtokenRequest",
        "required": [
          "scope",
          "organization_id"
        ],
        "type": "object",
        "properties": {
          "scope": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          }
        },
        "example": {
          "scope": "offline_access",
          "organization_id": "{{organization_id}}"
        }
      },
      "AuthenticationRequest": {
        "title": "AuthenticationRequest",
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "example": {
          "email": "{{email}}",
          "password": "{{password}}"
        }
      },
      "CreateuserRequest": {
        "title": "CreateuserRequest",
        "required": [
          "email",
          "first_name",
          "last_name"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        },
        "example": {
          "email": "email@realemailthatexists.com",
          "first_name": "John",
          "last_name": "Doe"
        }
      },
      "UpdateuserRequest": {
        "title": "UpdateuserRequest",
        "required": [
          "email",
          "first_name",
          "last_name",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "example": {
          "email": "user@provide.local",
          "first_name": "John",
          "last_name": "Doe",
          "password": "12345"
        }
      }
    },
    "securitySchemes": {
      "httpBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "httpBearer": []
    }
  ],
  "tags": [
    {
      "name": "Applications"
    },
    {
      "name": "Organizations"
    },
    {
      "name": "Tokens"
    },
    {
      "name": "Users"
    }
  ]
}