{
  "openapi": "3.0.0",
  "info": {
    "title": "NChain_OG",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://nchain.provide.services/api/v1",
      "variables": {}
    }
  ],
  "paths": {
    "/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List connectors",
        "operationId": "Listconnectors",
        "parameters": [
          {
            "name": "public",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Create connector",
        "operationId": "Createconnector",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateconnectorRequest"
              },
              "example": {
                "name": "conaConnector",
                "network_id": "{{network_id}}",
                "type": "provide",
                "config": {
                  "region": "us-east-2",
                  "target_id": "aws",
                  "provider_id": "docker",
                  "role": "peer",
                  "container": "providenetwork-ipfs",
                  "credentials": {
                    "aws_access_key_id": "{{aws_access_key_id}}",
                    "aws_secret_access_key": "{{aws_secret_key}}"
                  },
                  "image": "provide/ident",
                  "api_port": 8080,
                  "security": {
                    "egress": "*",
                    "ingress": {
                      "0.0.0.0/0": {
                        "tcp": [
                          8080
                        ],
                        "udp": []
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/connectors/{connector_id}": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get connector details",
        "operationId": "Getconnectordetails",
        "parameters": [
          {
            "name": "connector_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "summary": "Delete connector",
        "operationId": "Deleteconnector",
        "parameters": [
          {
            "name": "connector_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Networks"
        ],
        "summary": "Update network",
        "operationId": "Updatenetwork",
        "parameters": [
          {
            "name": "connector_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/connectors/{connector_id}/load_balancers": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get load balancer details",
        "operationId": "Getloadbalancerdetails",
        "parameters": [
          {
            "name": "connector_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks/{network_id}": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "List networks",
        "operationId": "Listnetworks",
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks/{connector_id}": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "Get network detail",
        "operationId": "Getnetworkdetail",
        "parameters": [
          {
            "name": "connector_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks/{network_id}/status": {
      "get": {
        "tags": [
          "Networks"
        ],
        "summary": "Get network status",
        "operationId": "Getnetworkstatus",
        "parameters": [
          {
            "name": "network_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/networks": {
      "post": {
        "tags": [
          "Networks"
        ],
        "summary": "Create network",
        "operationId": "Createnetwork",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatenetworkRequest"
              },
              "example": {
                "name": "conaTestnet",
                "cloneable": false,
                "config": {
                  "native_currency": "CONA",
                  "platform": "evm",
                  "engine_id": "ethash",
                  "chain": "test",
                  "protocol_id": "pow",
                  "chainspec": {
                    "config": {
                      "homesteadBlock": 0,
                      "eip150Block": 0,
                      "eip155Block": 0,
                      "eip158Block": 0,
                      "byzantiumBlock": 0,
                      "constantinopleBlock": 0,
                      "petersburgBlock": 0
                    },
                    "alloc": {},
                    "coinbase": "0x0000000000000000000000000000000000000000",
                    "difficulty": "0x20000",
                    "extraData": "",
                    "gasLimit": "0x2fefd8",
                    "nonce": "0x0000000000000042",
                    "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "timestamp": "0x00"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create accounts",
        "operationId": "Createaccounts",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateaccountsRequest"
              },
              "example": {
                "network_id": "{{network_id}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "operationId": "Listaccounts",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account details",
        "operationId": "Getaccountdetails",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/wallets": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "List HD wallets",
        "operationId": "ListHDwallets",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Wallets"
        ],
        "summary": "Create HD wallet",
        "operationId": "CreateHDwallet",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHDwalletRequest"
              },
              "example": {
                "purpose": 44
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/wallets/{wallet_id}/accounts": {
      "get": {
        "tags": [
          "Wallets"
        ],
        "summary": "List HD wallet accounts",
        "operationId": "ListHDwalletaccounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "wallet_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List transactions",
        "operationId": "Listtransactions",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create & broadcast transaction - Account",
        "operationId": "Create&broadcasttransaction-Account",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create%26broadcasttransaction-AccountRequest"
              },
              "example": {
                "network_id": "{{network_id}}",
                "key_id": "{{key_id}}",
                "to": "{{user_id}}",
                "value": 0,
                "account_id": "{{account_id}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/transactions/{transaction_id}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction details",
        "operationId": "Gettransactiondetails",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "transaction_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "List contracts",
        "operationId": "Listcontracts",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Deploy contract",
        "operationId": "Deploycontract",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeploycontractRequest"
              },
              "example": {
                "application_id": "{{application_id}}",
                "network_id": "{{network_id}}",
                "name": "Ekho",
                "address": "0x",
                "params": {
                  "account_id": "{{account_id}}",
                  "compiled_artifact": {
                    "contractName": "Ekho",
                    "abi": [
                      {
                        "anonymous": false,
                        "inputs": [
                          {
                            "indexed": false,
                            "internalType": "bytes",
                            "name": "message",
                            "type": "bytes"
                          }
                        ],
                        "name": "Ekho",
                        "type": "event"
                      },
                      {
                        "inputs": [
                          {
                            "internalType": "bytes",
                            "name": "message",
                            "type": "bytes"
                          }
                        ],
                        "name": "broadcast",
                        "outputs": [],
                        "stateMutability": "nonpayable",
                        "type": "function"
                      }
                    ],
                    "bytecode": "0x608060405234801561001057600080fd5b506101c0806100206000396000f3fe608060405234801561001057600080fd5b506004361061002b5760003560e01c80630323a8b014610030575b600080fd5b6100e96004803603602081101561004657600080fd5b810190808035906020019064010000000081111561006357600080fd5b82018360208201111561007557600080fd5b8035906020019184600183028401116401000000008311171561009757600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f8201169050808301925050505050505091929192905050506100eb565b005b7fc11b5aba5095eee01588a1b4f1983f055885ce9581af8e25b9fb34220d24eb73816040518080602001828103825283818151815260200191508051906020019080838360005b8381101561014d578082015181840152602081019050610132565b50505050905090810190601f16801561017a5780820380516001836020036101000a031916815260200191505b509250505060405180910390a15056fea26469706673582212209a157717b400c42ec8447983d186638a51c9ee770e53cbfce55399bf1d381f8164736f6c63430006090033",
                    "source": "contract Ekho {\n    event Ekho(bytes message);\n    function broadcast(bytes memory message) public {\n        emit Ekho(message);\n    }\n}\n"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/contracts/{contract_id}": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "Get contract detail",
        "operationId": "Getcontractdetail",
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          },
          {
            "name": "contract_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/contracts/{contract_id}/execute": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Execute contract",
        "operationId": "Executecontract",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutecontractRequest"
              },
              "example": {
                "method": "broadcast",
                "params": [
                  "hello world"
                ],
                "value": 0,
                "account_id": "{{account_id}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    },
    "/contracts/7f99f9de-c5db-48f9-a99f-41e1e8bd2f3b/execute": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "summary": "Execute read only contract",
        "operationId": "Executereadonlycontract",
        "parameters": [],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutereadonlycontractRequest"
              },
              "example": {
                "method": "owner",
                "params": [],
                "account_id": "{{account_id}}"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {}
          }
        },
        "deprecated": false
      }
    }
  },
  "components": {
    "schemas": {
      "CreateconnectorRequest": {
        "title": "CreateconnectorRequest",
        "required": [
          "name",
          "network_id",
          "type",
          "config"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "config": {
            "$ref": "#/components/schemas/Config"
          }
        },
        "example": {
          "name": "conaConnector",
          "network_id": "{{network_id}}",
          "type": "provide",
          "config": {
            "region": "us-east-2",
            "target_id": "aws",
            "provider_id": "docker",
            "role": "peer",
            "container": "providenetwork-ipfs",
            "credentials": {
              "aws_access_key_id": "{{aws_access_key_id}}",
              "aws_secret_access_key": "{{aws_secret_key}}"
            },
            "image": "provide/ident",
            "api_port": 8080,
            "security": {
              "egress": "*",
              "ingress": {
                "0.0.0.0/0": {
                  "tcp": [
                    8080
                  ],
                  "udp": []
                }
              }
            }
          }
        }
      },
      "Config": {
        "title": "Config",
        "required": [
          "region",
          "target_id",
          "provider_id",
          "role",
          "container",
          "credentials",
          "image",
          "api_port",
          "security"
        ],
        "type": "object",
        "properties": {
          "region": {
            "type": "string"
          },
          "target_id": {
            "type": "string"
          },
          "provider_id": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "container": {
            "type": "string"
          },
          "credentials": {
            "$ref": "#/components/schemas/Credentials"
          },
          "image": {
            "type": "string"
          },
          "api_port": {
            "type": "integer",
            "format": "int32"
          },
          "security": {
            "$ref": "#/components/schemas/Security"
          }
        },
        "example": {
          "region": "us-east-2",
          "target_id": "aws",
          "provider_id": "docker",
          "role": "peer",
          "container": "providenetwork-ipfs",
          "credentials": {
            "aws_access_key_id": "{{aws_access_key_id}}",
            "aws_secret_access_key": "{{aws_secret_key}}"
          },
          "image": "provide/ident",
          "api_port": 8080,
          "security": {
            "egress": "*",
            "ingress": {
              "0.0.0.0/0": {
                "tcp": [
                  8080
                ],
                "udp": []
              }
            }
          }
        }
      },
      "Credentials": {
        "title": "Credentials",
        "required": [
          "aws_access_key_id",
          "aws_secret_access_key"
        ],
        "type": "object",
        "properties": {
          "aws_access_key_id": {
            "type": "string"
          },
          "aws_secret_access_key": {
            "type": "string"
          }
        },
        "example": {
          "aws_access_key_id": "{{aws_access_key_id}}",
          "aws_secret_access_key": "{{aws_secret_key}}"
        }
      },
      "Security": {
        "title": "Security",
        "required": [
          "egress",
          "ingress"
        ],
        "type": "object",
        "properties": {
          "egress": {
            "type": "string"
          },
          "ingress": {
            "$ref": "#/components/schemas/Ingress"
          }
        },
        "example": {
          "egress": "*",
          "ingress": {
            "0.0.0.0/0": {
              "tcp": [
                8080
              ],
              "udp": []
            }
          }
        }
      },
      "Ingress": {
        "title": "Ingress",
        "required": [
          "0.0.0.0/0"
        ],
        "type": "object",
        "properties": {
          "0.0.0.0/0": {
            "$ref": "#/components/schemas/m00000"
          }
        },
        "example": {
          "0.0.0.0/0": {
            "tcp": [
              8080
            ],
            "udp": []
          }
        }
      },
      "m00000": {
        "title": "m00000",
        "required": [
          "tcp",
          "udp"
        ],
        "type": "object",
        "properties": {
          "tcp": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          },
          "udp": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          }
        },
        "example": {
          "tcp": [
            8080
          ],
          "udp": []
        }
      },
      "CreatenetworkRequest": {
        "title": "CreatenetworkRequest",
        "required": [
          "name",
          "cloneable",
          "config"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "cloneable": {
            "type": "boolean"
          },
          "config": {
            "$ref": "#/components/schemas/Config1"
          }
        },
        "example": {
          "name": "conaTestnet",
          "cloneable": false,
          "config": {
            "native_currency": "CONA",
            "platform": "evm",
            "engine_id": "ethash",
            "chain": "test",
            "protocol_id": "pow",
            "chainspec": {
              "config": {
                "homesteadBlock": 0,
                "eip150Block": 0,
                "eip155Block": 0,
                "eip158Block": 0,
                "byzantiumBlock": 0,
                "constantinopleBlock": 0,
                "petersburgBlock": 0
              },
              "alloc": {},
              "coinbase": "0x0000000000000000000000000000000000000000",
              "difficulty": "0x20000",
              "extraData": "",
              "gasLimit": "0x2fefd8",
              "nonce": "0x0000000000000042",
              "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
              "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
              "timestamp": "0x00"
            }
          }
        }
      },
      "Config1": {
        "title": "Config1",
        "required": [
          "native_currency",
          "platform",
          "engine_id",
          "chain",
          "protocol_id",
          "chainspec"
        ],
        "type": "object",
        "properties": {
          "native_currency": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          },
          "engine_id": {
            "type": "string"
          },
          "chain": {
            "type": "string"
          },
          "protocol_id": {
            "type": "string"
          },
          "chainspec": {
            "$ref": "#/components/schemas/Chainspec"
          }
        },
        "example": {
          "native_currency": "CONA",
          "platform": "evm",
          "engine_id": "ethash",
          "chain": "test",
          "protocol_id": "pow",
          "chainspec": {
            "config": {
              "homesteadBlock": 0,
              "eip150Block": 0,
              "eip155Block": 0,
              "eip158Block": 0,
              "byzantiumBlock": 0,
              "constantinopleBlock": 0,
              "petersburgBlock": 0
            },
            "alloc": {},
            "coinbase": "0x0000000000000000000000000000000000000000",
            "difficulty": "0x20000",
            "extraData": "",
            "gasLimit": "0x2fefd8",
            "nonce": "0x0000000000000042",
            "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
            "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
            "timestamp": "0x00"
          }
        }
      },
      "Chainspec": {
        "title": "Chainspec",
        "required": [
          "config",
          "alloc",
          "coinbase",
          "difficulty",
          "extraData",
          "gasLimit",
          "nonce",
          "mixhash",
          "parentHash",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "config": {
            "$ref": "#/components/schemas/Config2"
          },
          "alloc": {
            "type": "object"
          },
          "coinbase": {
            "type": "string"
          },
          "difficulty": {
            "type": "string"
          },
          "extraData": {
            "type": "string"
          },
          "gasLimit": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "mixhash": {
            "type": "string"
          },
          "parentHash": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          }
        },
        "example": {
          "config": {
            "homesteadBlock": 0,
            "eip150Block": 0,
            "eip155Block": 0,
            "eip158Block": 0,
            "byzantiumBlock": 0,
            "constantinopleBlock": 0,
            "petersburgBlock": 0
          },
          "alloc": {},
          "coinbase": "0x0000000000000000000000000000000000000000",
          "difficulty": "0x20000",
          "extraData": "",
          "gasLimit": "0x2fefd8",
          "nonce": "0x0000000000000042",
          "mixhash": "0x0000000000000000000000000000000000000000000000000000000000000000",
          "parentHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
          "timestamp": "0x00"
        }
      },
      "Config2": {
        "title": "Config2",
        "required": [
          "homesteadBlock",
          "eip150Block",
          "eip155Block",
          "eip158Block",
          "byzantiumBlock",
          "constantinopleBlock",
          "petersburgBlock"
        ],
        "type": "object",
        "properties": {
          "homesteadBlock": {
            "type": "integer",
            "format": "int32"
          },
          "eip150Block": {
            "type": "integer",
            "format": "int32"
          },
          "eip155Block": {
            "type": "integer",
            "format": "int32"
          },
          "eip158Block": {
            "type": "integer",
            "format": "int32"
          },
          "byzantiumBlock": {
            "type": "integer",
            "format": "int32"
          },
          "constantinopleBlock": {
            "type": "integer",
            "format": "int32"
          },
          "petersburgBlock": {
            "type": "integer",
            "format": "int32"
          }
        },
        "example": {
          "homesteadBlock": 0,
          "eip150Block": 0,
          "eip155Block": 0,
          "eip158Block": 0,
          "byzantiumBlock": 0,
          "constantinopleBlock": 0,
          "petersburgBlock": 0
        }
      },
      "CreateaccountsRequest": {
        "title": "CreateaccountsRequest",
        "required": [
          "network_id"
        ],
        "type": "object",
        "properties": {
          "network_id": {
            "type": "string"
          }
        },
        "example": {
          "network_id": "{{network_id}}"
        }
      },
      "CreateHDwalletRequest": {
        "title": "CreateHDwalletRequest",
        "required": [
          "purpose"
        ],
        "type": "object",
        "properties": {
          "purpose": {
            "type": "integer",
            "format": "int32"
          }
        },
        "example": {
          "purpose": 44
        }
      },
      "Create&broadcasttransaction-AccountRequest": {
        "title": "Create&broadcasttransaction-AccountRequest",
        "required": [
          "network_id",
          "key_id",
          "to",
          "value",
          "account_id"
        ],
        "type": "object",
        "properties": {
          "network_id": {
            "type": "string"
          },
          "key_id": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          },
          "account_id": {
            "type": "string"
          }
        },
        "example": {
          "network_id": "{{network_id}}",
          "key_id": "{{key_id}}",
          "to": "{{user_id}}",
          "value": 0,
          "account_id": "{{account_id}}"
        }
      },
      "Create&broadcasttransaction-WalletRequest": {
        "title": "Create&broadcasttransaction-WalletRequest",
        "required": [
          "network_id",
          "key_id",
          "from",
          "to",
          "value",
          "wallet_id",
          "hd_derivation_path"
        ],
        "type": "object",
        "properties": {
          "network_id": {
            "type": "string"
          },
          "key_id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "string"
          },
          "value": {
            "type": "integer",
            "format": "int32"
          },
          "wallet_id": {
            "type": "string"
          },
          "hd_derivation_path": {
            "type": "string"
          }
        },
        "example": {
          "network_id": "{{network_id}}",
          "key_id": "{{key_id}}",
          "from": "{{user_id}}",
          "to": "{{user_id}}",
          "value": 0,
          "wallet_id": "{{wallet_id}}",
          "hd_derivation_path": "m/44'/60'/0'/0/0"
        }
      },
      "DeploycontractRequest": {
        "title": "DeploycontractRequest",
        "required": [
          "application_id",
          "network_id",
          "name",
          "address",
          "params"
        ],
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "params": {
            "$ref": "#/components/schemas/Params"
          }
        },
        "example": {
          "application_id": "{{application_id}}",
          "network_id": "{{network_id}}",
          "name": "Ekho",
          "address": "0x",
          "params": {
            "account_id": "{{account_id}}",
            "compiled_artifact": {
              "contractName": "Ekho",
              "abi": [
                {
                  "anonymous": false,
                  "inputs": [
                    {
                      "indexed": false,
                      "internalType": "bytes",
                      "name": "message",
                      "type": "bytes"
                    }
                  ],
                  "name": "Ekho",
                  "type": "event"
                },
                {
                  "inputs": [
                    {
                      "internalType": "bytes",
                      "name": "message",
                      "type": "bytes"
                    }
                  ],
                  "name": "broadcast",
                  "outputs": [],
                  "stateMutability": "nonpayable",
                  "type": "function"
                }
              ],
              "bytecode": "0x608060405234801561001057600080fd5b506101c0806100206000396000f3fe608060405234801561001057600080fd5b506004361061002b5760003560e01c80630323a8b014610030575b600080fd5b6100e96004803603602081101561004657600080fd5b810190808035906020019064010000000081111561006357600080fd5b82018360208201111561007557600080fd5b8035906020019184600183028401116401000000008311171561009757600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f8201169050808301925050505050505091929192905050506100eb565b005b7fc11b5aba5095eee01588a1b4f1983f055885ce9581af8e25b9fb34220d24eb73816040518080602001828103825283818151815260200191508051906020019080838360005b8381101561014d578082015181840152602081019050610132565b50505050905090810190601f16801561017a5780820380516001836020036101000a031916815260200191505b509250505060405180910390a15056fea26469706673582212209a157717b400c42ec8447983d186638a51c9ee770e53cbfce55399bf1d381f8164736f6c63430006090033",
              "source": "contract Ekho {\n    event Ekho(bytes message);\n    function broadcast(bytes memory message) public {\n        emit Ekho(message);\n    }\n}\n"
            }
          }
        }
      },
      "Params": {
        "title": "Params",
        "required": [
          "account_id",
          "compiled_artifact"
        ],
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "compiled_artifact": {
            "$ref": "#/components/schemas/CompiledArtifact"
          }
        },
        "example": {
          "account_id": "{{account_id}}",
          "compiled_artifact": {
            "contractName": "Ekho",
            "abi": [
              {
                "anonymous": false,
                "inputs": [
                  {
                    "indexed": false,
                    "internalType": "bytes",
                    "name": "message",
                    "type": "bytes"
                  }
                ],
                "name": "Ekho",
                "type": "event"
              },
              {
                "inputs": [
                  {
                    "internalType": "bytes",
                    "name": "message",
                    "type": "bytes"
                  }
                ],
                "name": "broadcast",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
              }
            ],
            "bytecode": "0x608060405234801561001057600080fd5b506101c0806100206000396000f3fe608060405234801561001057600080fd5b506004361061002b5760003560e01c80630323a8b014610030575b600080fd5b6100e96004803603602081101561004657600080fd5b810190808035906020019064010000000081111561006357600080fd5b82018360208201111561007557600080fd5b8035906020019184600183028401116401000000008311171561009757600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f8201169050808301925050505050505091929192905050506100eb565b005b7fc11b5aba5095eee01588a1b4f1983f055885ce9581af8e25b9fb34220d24eb73816040518080602001828103825283818151815260200191508051906020019080838360005b8381101561014d578082015181840152602081019050610132565b50505050905090810190601f16801561017a5780820380516001836020036101000a031916815260200191505b509250505060405180910390a15056fea26469706673582212209a157717b400c42ec8447983d186638a51c9ee770e53cbfce55399bf1d381f8164736f6c63430006090033",
            "source": "contract Ekho {\n    event Ekho(bytes message);\n    function broadcast(bytes memory message) public {\n        emit Ekho(message);\n    }\n}\n"
          }
        }
      },
      "CompiledArtifact": {
        "title": "CompiledArtifact",
        "required": [
          "contractName",
          "abi",
          "bytecode",
          "source"
        ],
        "type": "object",
        "properties": {
          "contractName": {
            "type": "string"
          },
          "abi": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Abi"
            },
            "description": ""
          },
          "bytecode": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        },
        "example": {
          "contractName": "Ekho",
          "abi": [
            {
              "anonymous": false,
              "inputs": [
                {
                  "indexed": false,
                  "internalType": "bytes",
                  "name": "message",
                  "type": "bytes"
                }
              ],
              "name": "Ekho",
              "type": "event"
            },
            {
              "inputs": [
                {
                  "internalType": "bytes",
                  "name": "message",
                  "type": "bytes"
                }
              ],
              "name": "broadcast",
              "outputs": [],
              "stateMutability": "nonpayable",
              "type": "function"
            }
          ],
          "bytecode": "0x608060405234801561001057600080fd5b506101c0806100206000396000f3fe608060405234801561001057600080fd5b506004361061002b5760003560e01c80630323a8b014610030575b600080fd5b6100e96004803603602081101561004657600080fd5b810190808035906020019064010000000081111561006357600080fd5b82018360208201111561007557600080fd5b8035906020019184600183028401116401000000008311171561009757600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f8201169050808301925050505050505091929192905050506100eb565b005b7fc11b5aba5095eee01588a1b4f1983f055885ce9581af8e25b9fb34220d24eb73816040518080602001828103825283818151815260200191508051906020019080838360005b8381101561014d578082015181840152602081019050610132565b50505050905090810190601f16801561017a5780820380516001836020036101000a031916815260200191505b509250505060405180910390a15056fea26469706673582212209a157717b400c42ec8447983d186638a51c9ee770e53cbfce55399bf1d381f8164736f6c63430006090033",
          "source": "contract Ekho {\n    event Ekho(bytes message);\n    function broadcast(bytes memory message) public {\n        emit Ekho(message);\n    }\n}\n"
        }
      },
      "Abi": {
        "title": "Abi",
        "required": [
          "inputs",
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "anonymous": {
            "type": "boolean"
          },
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input"
            },
            "description": ""
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "outputs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": ""
          },
          "stateMutability": {
            "type": "string"
          }
        },
        "example": {
          "anonymous": false,
          "inputs": [
            {
              "indexed": false,
              "internalType": "bytes",
              "name": "message",
              "type": "bytes"
            }
          ],
          "name": "Ekho",
          "type": "event"
        }
      },
      "Input": {
        "title": "Input",
        "required": [
          "internalType",
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "indexed": {
            "type": "boolean"
          },
          "internalType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "example": {
          "indexed": false,
          "internalType": "bytes",
          "name": "message",
          "type": "bytes"
        }
      },
      "BaselinedeployregistrycontractRequest": {
        "title": "BaselinedeployregistrycontractRequest",
        "required": [
          "application_id",
          "network_id",
          "name",
          "address",
          "params"
        ],
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string"
          },
          "network_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "params": {
            "$ref": "#/components/schemas/Params1"
          }
        }
      },
      "Params1": {
        "title": "Params1",
        "required": [
          "account_id",
          "compiled_artifact"
        ],
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "compiled_artifact": {
            "$ref": "#/components/schemas/CompiledArtifact1"
          }
        }
      },
      "CompiledArtifact1": {
        "title": "CompiledArtifact1",
        "required": [
          "abi",
          "assembly",
          "bytecode",
          "deps",
          "fingerprint",
          "name",
          "opcodes",
          "raw",
          "source"
        ],
        "type": "object",
        "properties": {
          "abi": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Abi1"
            },
            "description": ""
          },
          "assembly": {
            "$ref": "#/components/schemas/Assembly"
          },
          "bytecode": {
            "type": "string"
          },
          "deps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dep"
            },
            "description": ""
          },
          "fingerprint": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "opcodes": {
            "type": "string"
          },
          "raw": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "Abi1": {
        "title": "Abi1",
        "required": [
          "inputs",
          "type"
        ],
        "type": "object",
        "properties": {
          "inputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Input1"
            },
            "description": "",
            "nullable": true
          },
          "payable": {
            "type": "boolean"
          },
          "stateMutability": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "anonymous": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          }
        },
        "example": {
          "inputs": null,
          "payable": false,
          "stateMutability": "nonpayable",
          "type": "constructor"
        }
      },
      "Input1": {
        "title": "Input1",
        "required": [
          "indexed",
          "name",
          "type"
        ],
        "type": "object",
        "properties": {
          "indexed": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "example": {
          "indexed": false,
          "name": "subject",
          "type": "string"
        }
      },
      "Assembly": {
        "title": "Assembly",
        "required": [
          ".code",
          ".data"
        ],
        "type": "object",
        "properties": {
          ".code": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Code"
            },
            "description": ""
          },
          ".data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/generatedObject"
            }
          }
        }
      },
      "Code": {
        "title": "Code",
        "required": [
          "begin",
          "end",
          "name"
        ],
        "type": "object",
        "properties": {
          "begin": {
            "type": "integer",
            "format": "int32"
          },
          "end": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "example": {
          "begin": 98858,
          "end": 100127,
          "name": "PUSH",
          "value": "80"
        }
      },
      "generatedObject": {
        "title": "generatedObject",
        "required": [
          ".auxdata",
          ".code"
        ],
        "type": "object",
        "properties": {
          ".auxdata": {
            "type": "string"
          },
          ".code": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Code"
            },
            "description": ""
          }
        },
        "example": {
          ".auxdata": "a365627a7a72305820ac2a168cd77b6f5d1a23b9678e61ccc3319440560256ba94d7d12c9b835ef8ae6c6578706572696d656e74616cf564736f6c63430005090040",
          ".code": [
            {
              "begin": 98858,
              "end": 100127,
              "name": "PUSH",
              "value": "80"
            },
            {
              "begin": 98858,
              "end": 100127,
              "name": "PUSH",
              "value": "40"
            },
            {
              "begin": 98858,
              "end": 100127,
              "name": "MSTORE"
            },
            {
              "begin": 98858,
              "end": 100127,
              "name": "PUSH",
              "value": "0"
            },
            {
              "begin": 98858,
              "end": 100127,
              "name": "DUP1"
            },
            {
              "begin": 98858,
              "end": 100127,
              "name": "REVERT"
            }
          ]
        }
      },
      "generatedObject1": {
        "title": "generatedObject1",
        "required": [
          ".code",
          ".data"
        ],
        "type": "object",
        "properties": {
          ".code": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Code"
            },
            "description": ""
          },
          ".data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/generatedObject"
            }
          }
        },
        "example": {
          ".code": [
            {
              "begin": 20743,
              "end": 29975,
              "name": "PUSH",
              "value": "80"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "PUSH",
              "value": "40"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "MSTORE"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "CALLVALUE"
            },
            {
              "begin": 8,
              "end": 17,
              "name": "DUP1"
            },
            {
              "begin": 5,
              "end": 7,
              "name": "ISZERO"
            },
            {
              "begin": 5,
              "end": 7,
              "name": "PUSH [tag]",
              "value": "1"
            },
            {
              "begin": 5,
              "end": 7,
              "name": "JUMPI"
            },
            {
              "begin": 30,
              "end": 31,
              "name": "PUSH",
              "value": "0"
            },
            {
              "begin": 27,
              "end": 28,
              "name": "DUP1"
            },
            {
              "begin": 20,
              "end": 32,
              "name": "REVERT"
            },
            {
              "begin": 5,
              "end": 7,
              "name": "tag",
              "value": "1"
            },
            {
              "begin": 5,
              "end": 7,
              "name": "JUMPDEST"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "POP"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "PUSH #[$]",
              "value": "0000000000000000000000000000000000000000000000000000000000000000"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "DUP1"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "PUSH [$]",
              "value": "0000000000000000000000000000000000000000000000000000000000000000"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "PUSH",
              "value": "0"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "CODECOPY"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "PUSH",
              "value": "0"
            },
            {
              "begin": 20743,
              "end": 29975,
              "name": "RETURN"
            }
          ],
          ".data": {
            "0": {
              ".auxdata": "a365627a7a723058205289db890632bfcfb834b8d41eaf07ccb0fd2d3cc680c061dbdd7e239cf643aa6c6578706572696d656e74616cf564736f6c63430005090040",
              ".code": [
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "80"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "MSTORE"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "CALLVALUE"
                },
                {
                  "begin": 8,
                  "end": 17,
                  "name": "DUP1"
                },
                {
                  "begin": 5,
                  "end": 7,
                  "name": "ISZERO"
                },
                {
                  "begin": 5,
                  "end": 7,
                  "name": "PUSH [tag]",
                  "value": "1"
                },
                {
                  "begin": 5,
                  "end": 7,
                  "name": "JUMPI"
                },
                {
                  "begin": 30,
                  "end": 31,
                  "name": "PUSH",
                  "value": "0"
                },
                {
                  "begin": 27,
                  "end": 28,
                  "name": "DUP1"
                },
                {
                  "begin": 20,
                  "end": 32,
                  "name": "REVERT"
                },
                {
                  "begin": 5,
                  "end": 7,
                  "name": "tag",
                  "value": "1"
                },
                {
                  "begin": 5,
                  "end": 7,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "POP"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "LT"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "2"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "0"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "CALLDATALOAD"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "E0"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "SHR"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "A41E7D51"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "GT"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "11"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "A41E7D51"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "7"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "AABBB8CA"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "8"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "B7056765"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "9"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "F712F3E8"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "10"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "2"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMP"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "tag",
                  "value": "11"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "29965A1D"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "3"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "3D584063"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "4"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "5DF8122F"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "5"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "65BA36C1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "EQ"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH [tag]",
                  "value": "6"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPI"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "tag",
                  "value": "2"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "PUSH",
                  "value": "0"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "DUP1"
                },
                {
                  "begin": 20743,
                  "end": 29975,
                  "name": "REVERT"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "tag",
                  "value": "3"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "PUSH [tag]",
                  "value": "12"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "DUP1"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "SUB"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "PUSH [tag]",
                  "value": "13"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "SWAP2"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "SWAP1"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "DUP2"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "ADD"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "SWAP1"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "PUSH [tag]",
                  "value": "14"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "JUMP"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "tag",
                  "value": "13"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "PUSH [tag]",
                  "value": "15"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "JUMP",
                  "value": "[in]"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "tag",
                  "value": "12"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 23752,
                  "end": 24537,
                  "name": "STOP"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "tag",
                  "value": "4"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH [tag]",
                  "value": "16"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "DUP1"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SUB"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH [tag]",
                  "value": "17"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP2"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP1"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "DUP2"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "ADD"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP1"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH [tag]",
                  "value": "18"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMP"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "tag",
                  "value": "17"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH [tag]",
                  "value": "19"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMP",
                  "value": "[in]"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "tag",
                  "value": "16"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "MLOAD"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH [tag]",
                  "value": "20"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP2"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP1"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH [tag]",
                  "value": "21"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMP"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "tag",
                  "value": "20"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "MLOAD"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "DUP1"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP2"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SUB"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "SWAP1"
                },
                {
                  "begin": 25301,
                  "end": 25574,
                  "name": "RETURN"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "tag",
                  "value": "5"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "PUSH [tag]",
                  "value": "22"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "DUP1"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "SUB"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "PUSH [tag]",
                  "value": "23"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "SWAP2"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "SWAP1"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "DUP2"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "ADD"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "SWAP1"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "PUSH [tag]",
                  "value": "24"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "JUMP"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "tag",
                  "value": "23"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "PUSH [tag]",
                  "value": "25"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "JUMP",
                  "value": "[in]"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "tag",
                  "value": "22"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 24861,
                  "end": 25126,
                  "name": "STOP"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "tag",
                  "value": "6"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH [tag]",
                  "value": "26"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "DUP1"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SUB"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH [tag]",
                  "value": "27"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP2"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP1"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "DUP2"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "ADD"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP1"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH [tag]",
                  "value": "28"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMP"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "tag",
                  "value": "27"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH [tag]",
                  "value": "29"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMP",
                  "value": "[in]"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "tag",
                  "value": "26"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "MLOAD"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH [tag]",
                  "value": "30"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP2"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP1"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH [tag]",
                  "value": "31"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMP"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "tag",
                  "value": "30"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "MLOAD"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "DUP1"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP2"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SUB"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "SWAP1"
                },
                {
                  "begin": 25765,
                  "end": 25918,
                  "name": "RETURN"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "tag",
                  "value": "7"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "PUSH [tag]",
                  "value": "32"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "DUP1"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "SUB"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "PUSH [tag]",
                  "value": "33"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "SWAP2"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "SWAP1"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "DUP2"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "ADD"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "SWAP1"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "PUSH [tag]",
                  "value": "34"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "JUMP"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "tag",
                  "value": "33"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "PUSH [tag]",
                  "value": "35"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "JUMP",
                  "value": "[in]"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "tag",
                  "value": "32"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 26291,
                  "end": 26571,
                  "name": "STOP"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "tag",
                  "value": "8"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH [tag]",
                  "value": "36"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "DUP1"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "CALLDATASIZE"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SUB"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH [tag]",
                  "value": "37"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP2"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP1"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "DUP2"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "ADD"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP1"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH [tag]",
                  "value": "38"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMP"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "tag",
                  "value": "37"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH [tag]",
                  "value": "39"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMP",
                  "value": "[in]"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "tag",
                  "value": "36"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "MLOAD"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH [tag]",
                  "value": "40"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP2"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP1"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH [tag]",
                  "value": "21"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMP"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "tag",
                  "value": "40"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "PUSH",
                  "value": "40"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "MLOAD"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "DUP1"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP2"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SUB"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "SWAP1"
                },
                {
                  "begin": 22664,
                  "end": 23106,
                  "name": "RETURN"
                },
                {
                  "begin": 27749,
                  "end": 28367,
                  "name": "tag",
                  "value": "9"
                },
                {
                  "begin": 27749,
                  "end": 28367,
                  "name": "JUMPDEST"
                },
                {
                  "begin": 27749,
                  "end": 28367,
                  "name": "PUSH [tag]",
                  "value": "41"
                },
                {
                  "begin": 27749,
                  "end": 28367,
                  "name": "PUSH",
                  "value": "4"
                },
                {
                  "begin": 27749,
                  "end": 28367,
                  "name": "DUP1"
                },
                {
[...]
